<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Precision.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Precision.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Precision.Properties.Settings>
            <setting name="XNA_Extreme_202___Precision_localhost_Service1"
                serializeAs="String">
                <value>http://localhost:57007/Service1.asmx</value>
            </setting>
            <setting name="XNA_Extreme_202___Precision_info_aspspider_Service1"
                serializeAs="String">
                <value>http://aspspider.info/precision/HighScore/Service1.asmx</value>
            </setting>
        </Precision.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Precision.Properties.Settings>
            <setting name="difficulty" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="selectedGraphicsSet" serializeAs="String">
                <value />
            </setting>
            <setting name="fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="playerName" serializeAs="String">
                <value>Player1</value>
            </setting>
            <setting name="rumble" serializeAs="String">
                <value>True</value>
            </setting>
        </Precision.Properties.Settings>
    </userSettings>
</configuration>